.button:hover {
    /* transform: scale(1.1); */
    background-color: royalblue;
    color:white;
    border:0.2em solid lightblue;
}

.button{
    transition: all 0.5s;
    background-color: lightblue;
    border:0.2em solid gray;
    border-radius: 1em;

    margin:0 auto 1em;
    color:white;
    display:block;
    font-size: 1.2em;
    width:60%;
    padding:0.2em;
}

button:focus{
    outline:none;
}

.invisible{
    display:none;
}

h3{
    margin:0 auto;
    text-decoration: underline;
    color:white;
}

#epsilon-button-content{
    border:0.2em solid lightblue;
    border-radius: 0.5em;
    color:white;
    text-align: center;
    padding:0.2em;
    font-size: 1.5em;
    
    margin: 1em auto 0; 
    clear:both;
}

#epsilon-control{
    /* border:0.5em solid grey; */
    background-color: grey;
    padding:0.5em;
    /* color:white; */
    width:50%;
    box-sizing: border-box;
}

#epsilon-main-graph{
    box-sizing: border-box;
    width:70%;
    height:400px;
    float:left;
    margin-bottom: 1em;
    border-radius: 1em 0 0 1em;
    overflow: hidden;
}

#epsilon-control-right{
    box-sizing: border-box;
    width:30%;
    float:right;
    height:400px;
    overflow-y: scroll;
    overflow-x: hidden;

    border:5px solid lightblue;
    border-left: none;
    border-radius: 0 1em 1em 0;

    color:white;
}

#epsilon-index-dd{
    width:40%;
    margin:auto;
    display:block;
    /* margin-top: 1em; */
}

#mu-button-content{
    border:0.2em solid lightblue;
    border-radius: 0.5em;
    color:white;
    text-align: center;
    padding:0.2em;
    font-size: 1.5em;

    margin: 1em auto 0; 
    clear:both;
    
    
}

#mu-control{
    /* border:0.5em solid grey; */
    background-color: grey;
    padding:0.5em;
    /* color:white; */
    width:50%;
    box-sizing: border-box;
    /* height:500px; */
    overflow: hidden;
}

#mu-main-graph{
    box-sizing: border-box;
    width:70%;
    height:400px;
    float:left;
    margin-bottom: 1em;
    border-radius: 1em 0 0 1em;
    overflow: hidden;
}

#mu-control-right{
    box-sizing: border-box;
    width:30%;
    float:right;
    height:400px;
    overflow-y: scroll;
    overflow-x: hidden;
    border:5px solid lightblue;
    border-left: none;

    border-radius: 0 1em 1em 0;
}

#mu-index-dd{
    width:40%;
    margin:auto;
    display:block;
    /* margin-top: 1em; */
}
#control-area{
    display:flex;
    justify-content: space-evenly;
    color:white;
    margin-top: 5px;
    border-radius: 20px;
    overflow:hidden;
}
.slider{
    margin-top: 1em;
}
.slider-content{
    font-size: 1.5em;
    font-family: monospace;
    text-align: center;

}
#display-area{
    float:right;
    height:calc(400px + 1em);
    overflow: scroll;
    border:0.5em grey solid;
    border-radius: 20px;
    width:30%;
    box-sizing: border-box;

}

#main-display-area{
    float:left;
    height:calc(400px + 1em);
    overflow:scroll;
    border:0.5em grey solid;
    border-radius: 20px;
    width:calc(70% + (-5px));
    box-sizing: border-box;
}



/* #n-graph{
    border-bottom: 5px solid grey;
} */

#mu-control .highlight{
    color:lightblue;
    font-style: oblique;
}

#epsilon-control .highlight{
    color:lightblue;
    font-style: oblique;
}
#thickness-slider{
    margin-top: 10px;
}
#thickness-slider-content{
    color:white;
    text-align: center;
    font-size: 1em;
    border:2px solid white;
    border-radius: 10px;
    padding:2px;
    margin:-20px auto 10px;
    width:300px;

}