.button:hover {
    /* transform: scale(1.1); */
    background-color: royalblue;
    color:white;
    border:0.2em solid lightblue;
}

.button{
    transition: all 0.5s;
    background-color: lightblue;
    border:0.2em solid gray;
    border-radius: 1em;

    margin:0 auto 1em;
    color:white;
    display:block;
    font-size: 1.2em;
    width:60%;
    padding:0.2em;
}

button:focus{
    outline:none;
}

.invisible{
    display:none;
}

h3{
    margin:0 auto;
    text-decoration: underline;
    color:white;
}

#epsilon-button-content{
    border:0.2em solid lightblue;
    border-radius: 0.5em;
    color:white;
    text-align: center;
    padding:0.2em;
    font-size: 1.5em;

    clear:both;
}

#epsilon-control{
    border:0.5em solid grey;
    background-color: grey;
    /* color:white; */
    width:50%;
    box-sizing: border-box;
}

#epsilon-main-graph{
    box-sizing: border-box;
    width:70%;
    height:400px;
    float:left;
    margin-bottom: 1em;
}

#epsilon-control-right{
    box-sizing: border-box;
    width:30%;
    float:right;
    height:400px;
    overflow-y: scroll;
    overflow-x: hidden;

    border:5px solid lightblue;
    border-left: none;
    border-radius: 0 2em 2em 0;

    color:white;
}
#epsilon-button-content{
    margin: 1em; 
    clear:both;
}
#epsilon-index-dd{
    width:40%;
    margin:auto;
    display:block;
    /* margin-top: 1em; */
}

#mu-button-content{
    border:0.2em solid lightblue;
    border-radius: 0.5em;
    color:white;
    text-align: center;
    padding:0.2em;
    font-size: 1.5em;
}

#mu-control{
    border:0.5em solid grey;
    background-color: grey;
    /* color:white; */
    width:50%;
    box-sizing: border-box;
    /* height:500px; */
    overflow: hidden;

    /* display:flex; */
}

#mu-main-graph{
    box-sizing: border-box;
    width:70%;
    height:400px;
    float:left;
    margin-bottom: 1em;
}

#mu-control-right{
    box-sizing: border-box;
    width:30%;
    float:right;
    height:400px;
    overflow-y: scroll;
    overflow-x: hidden;
    border:5px solid lightblue;
    border-left: none;

    border-radius: 0 2em 2em 0;
}
#mu-button-content{
    margin: 1em; 
    clear:both;
}

#mu-index-dd{
    width:40%;
    margin:auto;
    display:block;
    /* margin-top: 1em; */
}
#control-area{
    display:flex;
    justify-content: space-evenly;
    color:white;
}
.slider{
    margin-top: 1em;
}

#display-area{
    float:right;
    height:420px;
    overflow: scroll;
    border:0.5em grey solid;
    border-radius: 0.5em;
    width:30%;
    box-sizing: border-box;

}

#main-display-area{
    float:left;
    height:420px;
    overflow:scroll;
    border:0.5em grey solid;
    border-radius: 0.5em;
    width:70%;
    box-sizing: border-box;
}

.side-plot{
    border-bottom: 5px solid grey;
}

#mu-control .highlight{
    color:lightblue;
    font-style: oblique;
}

#epsilon-control .highlight{
    color:lightblue;
    font-style: oblique;
}

