#title-bar h1{
    border:10px solid royalblue;
    border-radius: 20px;
    color:royalblue;
    background-color: white;
    margin:0 1em;

    line-height: 60px;
    text-align: center;
    height:60px;
    width:400px;

    flex-grow: 1;
}
#title-bar h1 span{
    transition: all 0.3s;
}
#title-bar h1 span:hover{
    color:lightblue;
    font-size:1.7em;
}

#title-bar{
    margin:0;
    display:flex;
    justify-content: space-between;
    align-items: center;

    border:0.5em solid grey;
    border-radius: 20px;
    padding:5px;

    margin: 5px auto;

}

#upload-data{
    transition:all 0.2s ease-in-out;
}

#reset-area{
    line-height: 60px;
    text-align: center;
    height:60px;
    width:200px;

    font-size:1.5em;
    text-decoration: underline;
    color:white;
    background-color: lightcoral;
    border-radius: 20px;

    transition: all 0.3s ease-in-out;
}

#reset-area:hover{
    background-color: red;
    cursor: pointer;
}

#upload-area a{
    transition: all 0.3s;
}
#upload-area a:hover{
    color:royalblue;
}

body{
    margin:0;
    background-color:darkgrey;
    padding:5px;
}